{% extends 'base.html' %}
{% block title %}
    -Your Home page
{% endblock %}

{% block navbar %}
    <label style="padding-right: 20px" id="name" > User</label>
<a class="navbar-brand" href="#">Merchandise</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><a href="fashion">Fashion</a> <span class="caret"></span></a></li>
                        <ul class="dropdown-menu">
                            <li>Men</li>
                             <li>Women</li>
                        </ul>
                <li><a href="#"> <a href="furniture">Furniture</a></a></li>
                <li><a href="#"><a href="electronics">Electronics</a></a></li>
              </ul>
            </li>
              <form action="search" method="post">
                  {% csrf_token %}
              <li>
                  <input type="text"  name="myText_Box" id="myText_Box"  placeholder="Search for names.." title="Type in a name"></li>
              <li>
                  <!--<a href="search">-->
                  <input type="submit" value="Search"/>


              <!--</a>-->

              </li>
                  </form>
          </ul>
{% endblock %}


{% block content %}
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>HAPPY NEW YEAAR!</h1>
            <p>DON`T MISS THE CHANCE AND ENJOY NEW YEAR`S SALES AND DISCOUNTS.</p>
          </div>
          <div class="row">
             {% for product in products %}
            <div class="col-xs-6 col-lg-4">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{ product.image.url }}" data-holder-rendered="true">
              <h2>{{ product.name }}</h2>
              <p>{{ product.price }}</p>
                <h6> Number of items : {{ product.numberOfItems }}</h6>
              <p><a class="btn btn-primary" href="details/{{ product.id }}" role="button">View details »</a></p>
            </div>
              {% endfor %}
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">

       <ul class="nav nav-sidebar" style="padding: 20px">
            <li  class="active"><a href="#"> Filter by category <span class="sr-only">(current)</span></a></li>
               <li>
                   <form action="searchcategory" method="post">
                   {% csrf_token %}
                   <li>
               <input type="checkbox" name="categorybar"  id="categorybar" value="fashion"> Fashion<br>
               <input type="checkbox" name="categorybar" id="categorybar'" value="furniture" > Furniture<br>
              <input type="checkbox" name="categorybar" id="categorybar" value="electronics"> Electronics<br></li>
              <li style="padding-top: 20px">  <input type="submit" class="btn btn-primary" value="Done" >
               </form>
               </li>
            <li  class="active"><a href="#"> Filter by price </a></li>
              <li>
               <form action="searchprice" method="post">
                   {% csrf_token %}
                   <li>
               <input type="checkbox" name="price"  id="price" value="10"> 10-100<br>
               <input type="checkbox" name="price" id="price'" value="100" > 100-1000<br>
              <input type="checkbox" name="price" id="price" value="1000"> 1000-10000<br></li>
              <li style="padding-top: 20px">  <input type="submit"  class="btn btn-primary" value="Done">
               </form>
              </li>
              </ul>
            </div>
      </div>
    </div>

{% endblock %}