{% extends 'base.html' %}
{% block title %}-Sign up{% endblock %}
{% block cssFile %}
    <style>
#input {
    border-radius: 5px;
    padding: 20px;
}
#submit
{
    margin-top: 20px;
}
    #form
    {
        background-color: mintcream;
    }
</style>
{% endblock %}
{% block content %}
<div class="card-body container">
    <h3 class="card-title">Sign Up</h3>
    <form method="post" novalidate>
        {% csrf_token %}
        <div id="input" class="input-group">
    <label >Email address:</label>
    <input type="text" placeholder="E-mail" class="form-control" id="" name="email">
  </div>
  <div id="input" class="input-group">
    <label>User name</label>
    <input type="text" placeholder="user name" class="form-control" id="" name="username">
  </div>
        <div id="input" class="input-group">
    <label >Password:</label>
    <input type="text" placeholder="phone number" class="form-control" id="" name="password1">
  </div>
         <div id="input" class="input-group">
    <label >Repeat password:</label>
    <input type="text" placeholder="phone number" class="form-control" id="" name="password2">
  </div>
        <button type="submit" class="btn btn-primary btn-block"> Create an account</button>


    </form>

</div>


{% endblock %}